<input type="checkbox" id="nav-toggle">
<nav class="nav-bar">
    <div class="logo-side">
        <h2 class="logo-name">MENTOLA</h2>
    </div>
    <ul class="nav-links">
        <li><a href="#">მთავარი</a></li>
        <li><a href="#">ნაკრები</a></li>
        <li>
        <a href="#">ბარათები </a>
         </li>
        <li><a href="#">ანაბრები</a></li>
        <li>
        <a href="#">სესხები </a>    
        </li>
        <li><a href="#">ნაწილ-ნაწილ</a></li>
        <li><a href="#">მობილბანკი</a></li>
        <li><a href="#">ინვესტიციები</a></li>
    </ul>
</nav>

<label for="nav-toggle" class="burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</label>