
<div class="wrapper">
<form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <h1>Register</h1>
    <div class="input-box">
        username
        <input formControlName="username" type="text" >
    </div>
    <div class="input-box">
        email
        <input formControlName="email" type="text" >
    </div>
    <div class="input-box">
        password
        <input formControlName="password" type="password">
    </div>
    <button class="btn" type="submit">Register</button>
</form>
</div>

<router-outlet></router-outlet>